@model BulkyBook.Models.ApplicationUser

<h2>حذف مستخدم</h2>

<p>هل تريد حذف المستخدم: <strong>@Model.Name</strong> ؟</p>

<form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
    <button class="btn btn-danger">نعم حذف</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
</form>
